body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #800000;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    color: #ffffff;
    text-align: left;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#introduction {
    max-width: 400px;
}

section {
    flex: 3;
    margin-right: 20px;
}

aside {
    flex: 1;
    background: #e4e4e4;
    padding: 15px;
    border-radius: 5px;
}
article {
    background-color: #ffffff;
    border: 2px #35424a solid;
    padding: 10px;
    margin-top: 15px;
}

.image-container {
    flex-direction: row;
    justify-content: space-around;
   }

   .small {
    margin: 0 10px;
    border: 1px solid black;
    width: 150px;
    height: 90px;
   }

   .big {
    margin: 0 10px;
    border: 1px solid black;
    width: 260px;
    height: 140px;   
   }

   .credit {
    font-size: 8px;
   }

   .hidden-text{
    display: none;
   }

   #dish-list {
    flex: 1;
    padding-right: 20px;
}

#meal-plan {
    flex: 1;
    background-color: #e4e4e4;
    padding: 15px;
    border-radius: 5px;
}


ul {
    list-style-type: none;
    padding: 0;
}

button {
    margin-left: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #800000;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

h2, h3 {
    color: #35424a;
}
